USE [master]
GO
/****** Object:  Database [Cofrinho18]    Script Date: 17/04/2026 15:47:05 ******/
CREATE DATABASE [Cofrinho18]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cofrinho18', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cofrinho18.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cofrinho18_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cofrinho18_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cofrinho18].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cofrinho18]
GO
/****** Object:  Table [dbo].[Challenges]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Challenges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NULL,
	[CreatedByDirectorId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[TargetKg] [decimal](10, 2) NULL,
	[StartsAt] [datetime] NOT NULL,
	[EndsAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ChallengeType] [nvarchar](20) NULL,
	[PeriodType] [nvarchar](20) NULL,
	[RewardXp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trades]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MaterialType] [nvarchar](50) NOT NULL,
	[WeightKg] [decimal](10, 2) NOT NULL,
	[AmountMoney] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedByDirectorId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[DirectorId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserChallengeProgress]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChallengeProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChallengeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CurrentValue] [decimal](10, 2) NOT NULL,
	[Completed] [bit] NOT NULL,
	[CompletedAt] [datetime] NULL,
	[RewardGranted] [bit] NOT NULL,
	[RewardGrantedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalXp] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[CPF] [nvarchar](14) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUnits]    Script Date: 17/04/2026 15:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Challenges] ON 

INSERT [dbo].[Challenges] ([Id], [UnitId], [CreatedByDirectorId], [Title], [Description], [TargetKg], [StartsAt], [EndsAt], [IsActive], [ChallengeType], [PeriodType], [RewardXp]) VALUES (2, 3, 9, N'Faça 1 trocas nesta semana', N'Realize 1 trocas até o fim desta semana e ganhe 6 XP.', CAST(1.00 AS Decimal(10, 2)), CAST(N'2026-04-17T13:44:39.167' AS DateTime), CAST(N'2026-04-24T13:44:39.167' AS DateTime), 1, N'TRADES', N'WEEK', 6)
INSERT [dbo].[Challenges] ([Id], [UnitId], [CreatedByDirectorId], [Title], [Description], [TargetKg], [StartsAt], [EndsAt], [IsActive], [ChallengeType], [PeriodType], [RewardXp]) VALUES (3, 3, 9, N'Arrecade R$ 5 nesta semana', N'Arrecade R$ 5 em trocas até o fim desta semana e ganhe 2 XP.', CAST(5.00 AS Decimal(10, 2)), CAST(N'2026-04-17T15:07:31.433' AS DateTime), CAST(N'2026-04-24T15:07:31.433' AS DateTime), 1, N'MONEY', N'WEEK', 2)
SET IDENTITY_INSERT [dbo].[Challenges] OFF
GO
SET IDENTITY_INSERT [dbo].[Trades] ON 

INSERT [dbo].[Trades] ([Id], [UserId], [MaterialType], [WeightKg], [AmountMoney], [Notes], [CreatedByDirectorId], [CreatedAt]) VALUES (6, 11, N'Papel', CAST(1.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), NULL, 9, CAST(N'2026-03-06T14:14:17.740' AS DateTime))
INSERT [dbo].[Trades] ([Id], [UserId], [MaterialType], [WeightKg], [AmountMoney], [Notes], [CreatedByDirectorId], [CreatedAt]) VALUES (7, 13, N'Vidro', CAST(0.20 AS Decimal(10, 2)), CAST(0.03 AS Decimal(10, 2)), NULL, 9, CAST(N'2026-03-18T15:52:10.980' AS DateTime))
INSERT [dbo].[Trades] ([Id], [UserId], [MaterialType], [WeightKg], [AmountMoney], [Notes], [CreatedByDirectorId], [CreatedAt]) VALUES (8, 11, N'Plástico', CAST(1.50 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), NULL, 9, CAST(N'2026-03-25T18:02:59.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[Trades] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([Id], [Name], [Address], [DirectorId], [IsActive], [CreatedAt]) VALUES (3, N'Turma 1', NULL, 9, 1, CAST(N'2026-03-04T17:38:27.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[UserChallengeProgress] ON 

INSERT [dbo].[UserChallengeProgress] ([Id], [ChallengeId], [UserId], [CurrentValue], [Completed], [CompletedAt], [RewardGranted], [RewardGrantedAt], [CreatedAt], [UpdatedAt]) VALUES (1, 2, 15, CAST(1.00 AS Decimal(10, 2)), 1, CAST(N'2026-04-17T13:49:29.367' AS DateTime), 1, CAST(N'2026-04-17T13:49:29.367' AS DateTime), CAST(N'2026-04-17T13:49:29.347' AS DateTime), CAST(N'2026-04-17T13:49:29.367' AS DateTime))
INSERT [dbo].[UserChallengeProgress] ([Id], [ChallengeId], [UserId], [CurrentValue], [Completed], [CompletedAt], [RewardGranted], [RewardGrantedAt], [CreatedAt], [UpdatedAt]) VALUES (2, 3, 15, CAST(5.50 AS Decimal(10, 2)), 1, CAST(N'2026-04-17T15:09:20.403' AS DateTime), 1, CAST(N'2026-04-17T15:09:20.403' AS DateTime), CAST(N'2026-04-17T15:09:20.393' AS DateTime), CAST(N'2026-04-17T15:09:20.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserChallengeProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProgress] ON 

INSERT [dbo].[UserProgress] ([Id], [UserId], [TotalXp], [Level], [UpdatedAt]) VALUES (1, 11, 35, 1, CAST(N'2026-03-25T18:02:59.663' AS DateTime))
INSERT [dbo].[UserProgress] ([Id], [UserId], [TotalXp], [Level], [UpdatedAt]) VALUES (2, 13, 0, 1, CAST(N'2026-03-25T14:25:45.377' AS DateTime))
INSERT [dbo].[UserProgress] ([Id], [UserId], [TotalXp], [Level], [UpdatedAt]) VALUES (3, 15, 37, 8, CAST(N'2026-04-17T15:09:20.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [CPF], [Role], [PasswordHash], [IsActive], [CreatedAt], [BirthDate], [PhoneNumber]) VALUES (9, N'Diretor Teste', N'diretorteste@cofrinho.com', NULL, N'DIRECTOR', N'AQAAAAIAAYagAAAAEGN2iBLGaYuIjKa+tcmbwtkJn4ddpLne2xio1zuwkg5VXlQLTuD+SWxaWhGr+pWQ4Q==', 1, CAST(N'2026-03-04T17:36:29.413' AS DateTime), CAST(N'1990-01-01' AS Date), N'(21) 99999-9991')
INSERT [dbo].[Users] ([Id], [Name], [Email], [CPF], [Role], [PasswordHash], [IsActive], [CreatedAt], [BirthDate], [PhoneNumber]) VALUES (10, N'Usuário Teste', N'user1@cofrinho.com', NULL, N'USER', N'AQAAAAIAAYagAAAAEL1XARK0VEMr0oyXtvuvT8hR6rsOEOaDsHxXbl88kWQdn4wGRUQhmsyMtaSu7U4AYw==', 0, CAST(N'2026-03-04T17:40:37.903' AS DateTime), CAST(N'2015-03-10' AS Date), N'21999999999')
INSERT [dbo].[Users] ([Id], [Name], [Email], [CPF], [Role], [PasswordHash], [IsActive], [CreatedAt], [BirthDate], [PhoneNumber]) VALUES (11, N'Hermenegildo Benevides', N'hermenegildo@gmail.com', NULL, N'USER', N'AQAAAAIAAYagAAAAEMJbk6Pi4Zecx6dK9ggkaspqLyEAdyTWA+mM6hoQ4YBwTWXaLewgTyfDDPlfWPqztQ==', 1, CAST(N'2026-03-06T14:12:58.180' AS DateTime), CAST(N'2001-07-23' AS Date), N'21978968470')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUnits] ON 

INSERT [dbo].[UserUnits] ([Id], [UserId], [UnitId], [IsActive], [StartDate], [EndDate]) VALUES (5, 10, 3, 0, CAST(N'2026-03-04T17:40:37.957' AS DateTime), NULL)
INSERT [dbo].[UserUnits] ([Id], [UserId], [UnitId], [IsActive], [StartDate], [EndDate]) VALUES (6, 11, 3, 1, CAST(N'2026-03-06T14:12:58.210' AS DateTime), NULL)
INSERT [dbo].[UserUnits] ([Id], [UserId], [UnitId], [IsActive], [StartDate], [EndDate]) VALUES (7, 13, 3, 0, CAST(N'2026-03-18T15:45:32.697' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserUnits] OFF
GO
/****** Object:  Index [UX_UserChallengeProgress_Challenge_User]    Script Date: 17/04/2026 15:47:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserChallengeProgress_Challenge_User] ON [dbo].[UserChallengeProgress]
(
	[ChallengeId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserProg__1788CC4DFAC1F3E7]    Script Date: 17/04/2026 15:47:06 ******/
ALTER TABLE [dbo].[UserProgress] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534BC9CDACD]    Script Date: 17/04/2026 15:47:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 17/04/2026 15:47:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Challenges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Trades] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Units] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Units] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserChallengeProgress] ADD  DEFAULT ((0)) FOR [CurrentValue]
GO
ALTER TABLE [dbo].[UserChallengeProgress] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[UserChallengeProgress] ADD  DEFAULT ((0)) FOR [RewardGranted]
GO
ALTER TABLE [dbo].[UserChallengeProgress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserChallengeProgress] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserProgress] ADD  DEFAULT ((0)) FOR [TotalXp]
GO
ALTER TABLE [dbo].[UserProgress] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[UserProgress] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserUnits] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserUnits] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Challenges]  WITH CHECK ADD  CONSTRAINT [FK_Challenges_Director] FOREIGN KEY([CreatedByDirectorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Challenges] CHECK CONSTRAINT [FK_Challenges_Director]
GO
ALTER TABLE [dbo].[Challenges]  WITH CHECK ADD  CONSTRAINT [FK_Challenges_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[Challenges] CHECK CONSTRAINT [FK_Challenges_Unit]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_Trades_Director] FOREIGN KEY([CreatedByDirectorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_Trades_Director]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_Trades_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_Trades_User]
GO
ALTER TABLE [dbo].[Units]  WITH CHECK ADD  CONSTRAINT [FK_Units_Director] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Units] CHECK CONSTRAINT [FK_Units_Director]
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserProgress_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserProgress] CHECK CONSTRAINT [FK_UserProgress_Users]
GO
ALTER TABLE [dbo].[UserUnits]  WITH CHECK ADD  CONSTRAINT [FK_UserUnits_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[UserUnits] CHECK CONSTRAINT [FK_UserUnits_Unit]
GO
ALTER TABLE [dbo].[UserUnits]  WITH CHECK ADD  CONSTRAINT [FK_UserUnits_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserUnits] CHECK CONSTRAINT [FK_UserUnits_User]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD CHECK  (([AmountMoney]>=(0)))
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD CHECK  (([WeightKg]>(0)))
GO
USE [master]
GO
